.title{
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: #3C652F;
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
}

