.title{
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: #3C652F;
}

.title-img{
    width: 4rem;
}

.selection-student{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main-list{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.close{
    display: flex;
    justify-content: space-between;
    width: 50rem;
    background-color: #94AF9F;
    //margin?
    padding: 0.5rem;
    border-radius: 1rem;
}

.close h2{
    margin: 0 2rem;
}

.drop-button-clicked{
    display: flex;
    justify-content: space-between;
    width: 50rem;
    background: rgb(187,214,184);
    background: radial-gradient(circle, rgba(187,214,184,1) 0%, rgba(135,204,159,1) 100%);
    
    //margin: 2rem;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
}

.drop-button-clicked h2{
    margin: 0 2rem;
}

.opened-area{
    display: flex;
    flex-direction: column;
    
}

.text-area-wrapper{
    background-color: #ffffff;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    padding: 1rem 0; 
    outline: none;
    font-size: 1.5em;
    text-transform: initial;
}

img{
    width: 2rem;
}

.save-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.save-button button{
    background-color: #b3dba7;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    border: #b3dba7;
    cursor: pointer;
}