<div class="container-turmas">
    <div class="title">
        <h1 class="section-title">Fotos</h1>
        <img src="assets/photos.svg">
    </div>

    <div class="list">
        <div class="album">
            <h2>Zoo</h2>
            <h2>25/06</h2>
        </div>
        <div class="album">
            <h2>Museu</h2>
            <h2>23/06</h2>
        </div>
        <div class="album">
            <h2>Festa Junina</h2>
            <h2>13/06</h2>
        </div>
        <div class="album">
            <h2>Dia da Familia</h2>
            <h2>10/05</h2>
        </div>
    </div>

    <div class="btn">
        <button>Criar Álbum</button>
    </div>
  
</div>
