<div class="login-page">
  <div class="login-left">
   
  </div>
  <div class="login-right">
    
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="title-login">
        <h3>Login</h3>
        <p class="p-account">Doesnt have an account yet? <a>Click here!</a></p>
      </div>
        
      <div class="inputs">
        <label for="email" class="label">e-mail</label>
        <input class="text-space" type="email" id="email" name="email" [(ngModel)]="email">
      </div>
      
      <div class="inputs">
        <label for="password" class="label">password</label>
        <input class="text-space" type="password" id="password" name="password" [(ngModel)]="password">
      </div>
      <button type="submit">Entrar</button>
    </form>
  </div>
    
</div>

<!--flex row div fora. flex 1 flex 1-->