.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    
}

.login-page h2{
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    color: #5c8a7a;
}

.inputs, label, input{
    margin: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #5c8a7a;
}

button{
    margin: 1rem;
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

button:hover{
    background-color: #5c8a7a;
}