*{
    background-color: #e9f3ee;
}


.main-page{
    display: flex;
    height: calc(100vh - 8rem);
    padding: 4rem;  
    background-color: #e9f3ee;

}

.sidebar{
    flex: 1;
}

.ficticio{
    flex: 3;
    height: 100%;
    background-color: #e9f3ee;

}

