<div class="sidebar">

    <div class="geral">
        <a routerLink="/home">
            <div class="system-title">
                <img src="\assets\pp.png"  alt="">
            </div>
        </a>

        <div class="main-menu">
            <a routerLink="/home">
                <div class="item-menu">
                    <mat-icon>home</mat-icon>
                    <h3>Overview</h3>
                </div>
            </a>

            <a routerLink="/registros">
                <div class="item-menu">
                    <mat-icon>edit</mat-icon>
                    <h3>Registros</h3>
                </div>
            </a>

            <a routerLink="/turmas">
                <div class="item-menu">
                    <mat-icon>stars</mat-icon>
                    <h3>Turmas</h3>
                </div>
            </a>

            <a routerLink="/mensagens">
                <div class="item-menu">
                    <mat-icon> email</mat-icon>
                    <h3>Mensagens</h3>
                </div>
            </a>
            
            <a routerLink="/configuracoes">
                <div class="item-menu">
                    <mat-icon>settings</mat-icon>
                    <h3>Configurações</h3>
                </div>
            </a>
        </div>
    </div>

    <button (click)="logout()" class="logout">
        <mat-icon>exit_to_app</mat-icon>
        <h4><a>Log Out</a></h4>
    </button>

</div>


