<div class="sidebar">


    <div class="geral">
        <div class="system-title">
            <mat-icon class="logo-icon">supervised_user_circle</mat-icon>
            <h2>Pequenos Passos</h2>
        </div>

        <div class="main-menu">
            <div class="item-menu">
                <mat-icon>home</mat-icon>
                <h4><a routerLink="/content-page">Overview</a></h4>
            </div>
            <div class="item-menu">
                <mat-icon>edit</mat-icon>
                <h4><a routerLink="/registros">Registros</a></h4>
            </div>
            <div class="item-menu">
                <mat-icon>stars</mat-icon>
                <h4><a routerLink="/turmas">Turmas</a></h4>
            </div>
            <div class="item-menu">
                <mat-icon> email</mat-icon>
                <h4><a routerLink="/mensagens">Mensagens</a></h4>
            </div>
            <div class="item-menu">
                <mat-icon>settings</mat-icon>
                <h4><a routerLink="/configuracoes">Configurações</a></h4>
            </div>
        </div>
    </div>

    <div class="logout">
        <mat-icon>exit_to_app</mat-icon>
        <h4><a>Log Out</a></h4>
    </div>

</div>


