.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #E1E1E1;
    height: 100%;
    min-width: 18rem;
    
    
}

.main-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.system-title h2{
    text-transform: uppercase;
}

.system-title, .item-menu, .logout{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}



.system-title{
    padding-bottom: 3rem;
}

.logout{
    flex: 1;
}

.geral{
    flex: 5;
}