.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #e9f3ee;
    height: 100%;
    min-width: 18rem;
}

a, mat-icon{
    text-decoration: none;
    color: #5c8a7a;
}

.main-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.system-title h2{
    text-transform: uppercase;
    color: #5c8a7a;
    font-family: 'Gluten', cursive;
    font-weight: 500;
    font-size: 1.7rem;

}

.logo-icon mat-icon{
    font-size: 20px;
}

.system-title, .item-menu, .logout{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}



.system-title{
    padding-bottom: 3rem;
}

.logout{
    flex: 1;
    border: none;
    cursor: pointer;
    color: #5c8a7a;
    background-color: #ffffff00;
}

.geral{
    flex: 6;
    display: flex;
    flex-direction: column;
    
}

.geral img{
    width: 17rem;
}

h3{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}