<div class="container-turmas">
    <div class="title">
        <h1 class="section-title">Turmas</h1>
        <img src="assets/star.svg">
    </div>

    <div class="list">
        <div class="turma-color-one">
            <h2>Turma</h2>
        </div>
        <div class="turma-color-two">
            <h2>Turma</h2>
        </div>
        <div class="turma-color-one">
            <h2>Turma</h2>
        </div>
        <div class="turma-color-two">
            <h2>Turma</h2>
        </div>
        <div class="turma-color-one">
            <h2>Turma</h2>
        </div>
        <div class="turma-color-two">
            <h2>Turma</h2>
        </div>
    </div>
</div>
    
