.container-options{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.eventos, .reunioes{
    margin: 2rem;
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 2rem;
    background: radial-gradient(circle, rgba(187,214,184,1) 0%, rgba(135,204,159,1) 100%);
    
}

.eventos:hover, .reunioes:hover{
    background: radial-gradient(circle, rgba(187,214,184,1) 0%, rgb(141, 255, 181) 100%);
}