.main{
    background-color: #e5dada;
    border-radius: 2rem;
    height: 100%;
    margin: 1rem;
    overflow: auto;
}

.main::-webkit-scrollbar {
    width: 12px;
}
  
.main::-webkit-scrollbar-track {
    background-color: #DBE4C6;
    border-radius: 10px;
}
  
.main::-webkit-scrollbar-thumb {
    background-color: #94AF9F;
    border-radius: 10px;
    border: 3px solid #DBE4C6;
}
  
