<div class="main">
    <div class="home-wrapper">
        <div class="overview">
            <div class="welcome">
                <h1>Overview</h1>
                <h4>Bem-vindo(a) de volta, @user!</h4>
            </div>
            
            <div class="menu-options">
                <div class="options">
                    <img src="assets/prancheta.svg">
                </div>
                <div class="options">
                    <img src="/assets/message.svg" alt="">
                </div>
                <div class="options">
                    <img src="/assets/calendar.svg" alt="">
                </div>
                <div class="options">
                    <img src="/assets/warning.svg" alt="">
                </div>
                <div class="options">
                    <img src="/assets/health.svg" alt="">
                </div>
                <div class="options">
                    <img src="/assets/photos.svg" alt="">
                </div>
            </div> 
        </div>
        <div class="profile">
                <img class="profile-pic" src="/assets/profile.svg">
                <h2>Viviane A.</h2>
                <h4>Collaborator</h4>
                <div class="line"></div>
                <h4>Reminders</h4>
                <div class="notifications"></div>
                <div class="notifications"></div>
        </div>
    </div>
</div>
