@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300;400;500;700&family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
//font-family: 'Oswald', sans-serif;

body { 
    min-height: 100%;
    background-color: #E1E1E1;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
    
}

*{
    font-family: 'Jost', sans-serif;
}