@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost:wght@300;400;500;600;700&display=swap');

body { 
    min-height: 100%;
    background-color: #E1E1E1;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
    
}

*{
    font-family: 'Jost', sans-serif;
}