.home-wrapper{
    display: flex;
    height: 100%;
}
.overview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 2rem;
    flex: 3;
    
}

.welcome{
    margin: 4rem;
}

.welcome h1, h4{
    font-family: 'Jost', sans-serif;
    color: #3C652F;
}

.menu-options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    margin: 2rem;
    padding: 2rem;
    
}

.options{
    //grid-area: 1  1  3  4;
    background-color: #8db2a5;
    width: 5rem;
    height: 5rem;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    
}

.profile{
    background: rgb(184,224,179);
background: linear-gradient(338deg, rgba(184,224,179,1) 58%, rgba(148,175,159,1) 100%);
    text-align: center;
    justify-content: center;
    width: 25rem;
    border-radius: 0 2rem 2rem 0;
    flex: 1;
}

.profile-pic{
    width: 10rem;
    margin: 2rem;
}

.line{
    height: 1px;
    background: black;
    width: 16rem;
    margin: 2rem 5rem;  //preciso trocar, nao eh p ser margin
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.notifications{
    height: 4rem;
    background: #3C652F;
    opacity: 0.2;
    margin: 2rem 4rem;  //preciso trocar, nao eh p ser margin
    border-radius: 1rem;
}

//HOVER

.options:hover{
    background: rgb(158,186,176);
    background: radial-gradient(circle, rgba(158,186,176,1) 0%, rgba(103,186,157,1) 100%);
}

.notifications:hover{
    background-color:  #fd9898;
}